* {
				font-family: Arial, Verdana, sans-serif;
				color:white;
				}
		
            .nav {
				margin: 1%;
				background-color: #C38DE5;
				padding: 0.5em 0;
                width: 160px;
                height:50px;
                padding-top:40px;
                float:left;
                padding-left:30px;
                }
             a {
                font-family: 'ToscuchetCMRegular';
                font-weight: normal;
                font-style: normal;
                font-size:20px;
                            }
			#feature {
				height: 10em;
				margin-bottom: 1em;
				background-color: #FF7ACF;
                background-image: url("clipart20561.png");
                background-size:contain;
                background-position: right;
                background-repeat:no-repeat;}
             

                body {
                background-image:url("https://img.freepik.com/premium-vector/pink-purple-blue-pastel-ombre-digital-paper-watercolor-gradient-watercolour-background-texture_199112-610.jpg?w=2000");
  background-size: 2000px 2000px;}

                H1{
   font-family: 'ToscuchetCMRegular'; 
   font-weight: normal;
   font-style: normal;
   font-size: 50px;
   text-align: center;
}
